<div class="min-h-screen bg-cover bg-center bg-[url('/chennai.jpg')]">
  <form
    [formGroup]="StoreInfoFormGroup"
    (ngSubmit)="OnSubmit()"
    class="flex flex-wrap items-center justify-center px-8 md:px-72"
  >
    <div
      class="md:p-24 p-4 md:py-8 flex text-sm md:text-base flex-wrap flex-col mt-12 md:mt-8 gap-4 md:gap-8 border-2 bg-slate-200 border-gray-300 rounded-lg"
    >
      <div class="flex items-center justify-center">
        <h1 class="text-xl md:text-4xl font-serif">ADD SURVEY DATA</h1>
      </div>
      <div class="flex flex-col mt-2 gap-2 md:gap-8">
        <div>
          <label>Name:</label>
          <div class="border border-gray-300 rounded-lg px-3 py-2 shadow-sm">
            <input
              class="bg-transparent w-full"
              type="text"
              name="name"
              formControlName="Name"
            />
          </div>

          @if(StoreInfoFormGroup.controls['Name'].touched &&
          StoreInfoFormGroup.controls['Name'].errors?.['required']){
          <span class="text-sm text-red-500"> Name is Required</span>
          } @if(StoreInfoFormGroup.controls['Name'].touched == false &&
          StoreInfoFormGroup.controls['Name'].errors?.['required']){
          <span class="text-sm text-red-500">*</span>
          }
        </div>

        <div>
          <label>OwnerName:</label>
          <div class="border border-gray-300 rounded-lg px-3 py-2 shadow-sm">
            <input
              class="bg-transparent w-full"
              type="text"
              formControlName="OwnerName"
            />
          </div>
        </div>
        <div>
          <label>Contact Number 1:</label>
          <div class="border border-gray-300 rounded-lg px-3 py-2 shadow-sm">
            <input
              class="bg-transparent w-full"
              type="text"
              formControlName="ContactNumberOne"
            />
          </div>
        </div>
        <div>
          <label>Contact Number 2:</label>
          <div class="border border-gray-300 rounded-lg px-3 py-2 shadow-sm">
            <input
              class="bg-transparent w-full"
              type="text"
              formControlName="ContactNumberTwo"
            />
          </div>
        </div>

        <div>
          <label for="categoryDropdown">CategoryName:</label>
          <div class="border border-gray-300 rounded-lg px-3 py-2 shadow-sm">
            <select
              (change)="onCategorySelect()"
              id="categoryDropdown"
              formControlName="CategoryName"
              class="w-full bg-transparent"
            >
              <option *ngFor="let option of CategoryOptions" [value]="option">
                {{ option }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <label for="SubCategoryDropdown">SubCategoryName:</label>
          <div class="border border-gray-300 rounded-lg px-3 py-2 shadow-sm">
            <select
              (change)="onSubCategorySelect()"
              id="SubCategoryDropdown"
              formControlName="SubCategoryName"
              class="w-full bg-transparent"
            >
              <option
                *ngFor="let option of SubCategoryOptions"
                [value]="option"
              >
                {{ option }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <label>Tags:</label>
          <div class="border border-gray-300 rounded-lg px-3 py-2 shadow-sm">
            <input
              class="bg-transparent w-full"
              type="text"
              formControlName="Tags"
            />
          </div>
          @if(StoreInfoFormGroup.controls['Tags'].touched &&
          StoreInfoFormGroup.controls['Tags'].errors?.['required']){
          <span class="text-sm text-red-500">Tag Name is Required</span>
          } @if(StoreInfoFormGroup.controls['Tags'].touched == false &&
          StoreInfoFormGroup.controls['Tags'].errors?.['required']){
          <span class="text-sm text-red-500">*</span>
          }
        </div>

        <div>
          <label>Adress :</label>
          <div class="border border-gray-300 rounded-lg px-3 py-2 shadow-sm">
            <input class="bg-transparent w-full" formControlName="Address" />
          </div>
          @if(StoreInfoFormGroup.controls['Address'].touched &&
          StoreInfoFormGroup.controls['Address'].errors?.['required']){
          <span class="text-sm text-red-500">Address is Required</span>
          } @if(StoreInfoFormGroup.controls['Address'].touched == false &&
          StoreInfoFormGroup.controls['Address'].errors?.['required']){
          <span class="text-sm text-red-500">*</span>
          }
        </div>
        <div>
          <label>Street Name:</label>
          <div class="border border-gray-300 rounded-lg px-3 py-2 shadow-sm">
            <input
              class="bg-transparent w-full"
              type="text"
              formControlName="StreetName"
            />
          </div>
        </div>
        <div>
          <label for="AreaDropdown">Area:</label>
          <div class="border border-gray-300 rounded-lg px-3 py-2 shadow-sm">
            <select
              (change)="onAreaSelect()"
              id="AreaDropdown"
              formControlName="AreaName"
              class="w-full bg-transparent"
            >
              <option *ngFor="let option of AreaNameOptions" [value]="option">
                {{ option }}
              </option>
            </select>
          </div>
        </div>

        <div *ngIf="this.SelectedCity">
          <label>City :</label>
          <div class="border border-gray-300 rounded-lg px-3 py-2 shadow-sm">
            <p
              class="block w-full text-gray-500 bg-transparent focus:outline-none"
            >
              {{ this.SelectedCity }}
            </p>
            <!-- <input
              [readOnly]="true"
              class="block w-full text-gray-500 bg-transparent focus:outline-none"
              type="text"
              formControlName="City"
            /> -->
          </div>
        </div>
        <div *ngIf="this.SelectedState">
          <label>State</label>
          <div class="border border-gray-300 rounded-lg px-3 py-2 shadow-sm">
            <p
              class="block w-full text-gray-500 bg-transparent focus:outline-none"
            >
              {{ this.SelectedState }}
            </p>
            <!-- <input
              [readOnly]="true"
              class="block w-full text-gray-500 bg-transparent focus:outline-none"
              type="text"
              formControlName="State"
            /> -->
          </div>
        </div>
        <div *ngIf="this.SelectedPin">
          <label>Pin</label>
          <div class="border border-gray-300 rounded-lg px-3 py-2 shadow-sm">
            <p
              class="block w-full text-gray-500 bg-transparent focus:outline-none"
            >
              {{ this.SelectedPin }}
            </p>
            <!-- <input
              [readOnly]="true"
              class="block w-full text-gray-500 bg-transparent focus:outline-none"
              type="text"
              formControlName="Pin"
            /> -->
          </div>
        </div>

        <div>
          <label>LandMark</label>
          <div class="border border-gray-300 rounded-lg px-3 py-2 shadow-sm">
            <input
              class="bg-transparent w-full"
              type="text"
              formControlName="LandMark"
            />
          </div>
        </div>
        <div>
          <label>Fetch your Location:</label>
          <div
            class="border flex gap-8 border-gray-300 rounded-lg shadow-sm px-3 py-2"
          >
            <input
              type="text"
              [readOnly]="true"
              class="block w-full text-gray-500 bg-transparent focus:outline-none"
              formControlName="GeoLocation"
            />
            <button class="cursor-pointer">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                strokeWidth="{1.5}"
                stroke="currentColor"
                class="w-4 h-4"
                (click)="getStoreLocation()"
              >
                <path
                  strokeLinecap="round"
                  strokeLinejoin="round"
                  d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                />
                <path
                  strokeLinecap="round"
                  strokeLinejoin="round"
                  d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z"
                />
              </svg>
            </button>
          </div>

          @if(StoreInfoFormGroup.controls['GeoLocation'].touched &&
          StoreInfoFormGroup.controls['GeoLocation'].errors?.['required']){
          <span class="text-sm text-red-500"
            >Please wait... Fetching your current Location</span
          >
          } @if(StoreInfoFormGroup.controls['GeoLocation'].touched == false &&
          StoreInfoFormGroup.controls['GeoLocation'].errors?.['required']){
          <span class="text-sm text-red-500">*</span>
          }
        </div>
        <div class="flex items-center gap-2">
          <label>Open Time:</label>
          <div class="relative w-1/2 md:w-1/3">
            <div
              class="absolute inset-y-0 end-0 top-0 flex gap-1 items-center pe-3.5 pointer-events-none"
            >
              <span
                class="dark:text-white text-gray-900 text-sm dark:bg-gray-500 dark:border-gray-500 dark:placeholder-gray-300 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                >AM</span
              >
              <svg
                class="w-4 h-4 text-gray-500 dark:text-gray-400"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
              ></svg>
            </div>
            <input
              type="time"
              id="time"
              class="bg-gray-50 border leading-none border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-500 dark:border-gray-500 dark:placeholder-gray-300 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              min="09:00"
              max="12:00"
              formControlName="OpenTime"
            />
          </div>
        </div>
        <div class="flex items-center gap-2">
          <label>Close Time:</label>

          <div class="relative w-1/2 md:w-1/3">
            <div
              class="absolute inset-y-0 end-0 top-0 flex gap-1 items-center pe-3.5 pointer-events-none"
            >
              <span
                class="dark:text-white text-gray-900 text-sm dark:bg-gray-500 dark:border-gray-500 dark:placeholder-gray-300 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                >PM</span
              >
              <svg
                class="w-4 h-4 text-gray-500 dark:text-gray-400"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
              ></svg>
            </div>
            <input
              type="time"
              id="time"
              class="bg-gray-50 border leading-none border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-500 dark:border-gray-500 dark:placeholder-gray-300 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              formControlName="CloseTime"
            />
          </div>
        </div>
        <!-- <div>
          <label>Store Image to Upload:</label>
          <div class="border border-gray-300 rounded-lg px-3 py-2 shadow-sm">
            <input
              class="bg-transparent w-full"
              type="file"
              (change)="onFileSelect($event)"
              accept="image/*"
            />
          </div>
        </div> -->

        <div>
          <button
            type="submit"
            [disabled]="isSubmitting"
            class="w-1/2 bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
